<div class="pl-3 row mb-4 mt-4" *ngIf="postList">
    <div class="col-md-1 col-form-label">Date</div>
    <div class="col-md-3 mb-2 mb-md-0">
        <input class="form-control form-control-sm" type="date" [formControl]="dateFilterControl">
    </div>
    <div class="col-md-3 item-add-btn">
        <button type="button" (click)="getPlanogramPostList('date', true)"
            class=" mr-2 btn btn-sm btn-primary">Filter</button>
        <button type="button" (click)="getPlanogramPostList('all', true)" class=" btn btn-sm btn-danger">All</button>
    </div>
</div>
<div class="pl-3 items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover" multiTemplateDataRows>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Date" (changeSelected)="onColumnFilterOpen($event)"
                        [selected]="selectedColumnFilter"  controlName="date" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('date')" placeholder="Enter Date" type="date">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Customer Name" (changeSelected)="onColumnFilterOpen($event)"
                        [selected]="selectedColumnFilter" controlName="customer_name" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('customer_name')" placeholder="Enter Customer Name" type="text">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname }}
                    {{ element.customer?.lastname }}</td>
            </ng-container>
            <ng-container matColumnDef="customerCode">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Customer Code" (changeSelected)="onColumnFilterOpen($event)"
                        [selected]="selectedColumnFilter" controlName="customer_code" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('customer_code')" placeholder="Enter Customer Code" type="text">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.customer?.customer_info ?
                    element.customer?.customer_info?.customer_code :'N/A' }}</td>
            </ng-container>
            <ng-container matColumnDef="salesman">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Merchandiser" (changeSelected)="onColumnFilterOpen($event)"
                        [selected]="selectedColumnFilter" controlName="salesman_name" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('salesman_name')" placeholder="Enter Merchandiser" type="text">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.salesman?.firstname }}
                    {{ element.salesman?.lastname }}</td>
            </ng-container>
            <ng-container matColumnDef="distribution_name">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Distribution Name" (changeSelected)="onColumnFilterOpen($event)"
                        [selected]="selectedColumnFilter" controlName="distribution_name" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('distribution_name')" placeholder="Enter Distribution Name" type="text">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.distribution?.name }} </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="element-detail show-images"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="row">
                            <div class="col-md-6" style="border-right: 1px solid;">
                                <p class="font-weight-bold text-center" *ngIf="element.planogram_post_before_image.length > 0">Before</p><br>
                                <div *ngFor='let url of element.planogram_post_before_image; let i = index;'
                                    class="img-position imageCard" style="width: 32%;display: inline;float: left;">
                                    <img [src]="url.image_string" height="150" width="150px">
                                    <div class="iconsbar">
                                        <a href="javascript:;" (click)="downloadFile(url.image_string)"><i
                                                class="fa fa-download"></i></a>
                                        <a href="{{url.image_string}}" target="_blank"><i class="fa fa-external-link"></i></a>
                                        <a href="javascript:;" (click)="open(element.planogram_post_before_image, i)"><i
                                                class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="font-weight-bold text-center" *ngIf="element.planogram_post_after_image.length > 0">After</p><br>
                                <div *ngFor='let url of element.planogram_post_after_image; let i = index;'
                                    class="img-position imageCard" style="width: 32%;display: inline;float: left;">
                                    <img [src]="url.image_string" height="150" width="150px">
                                    <div class="iconsbar">
                                        <a href="javascript:;" (click)="downloadFile(url.image_string)"><i
                                                class="fa fa-download"></i></a>
                                        <a href="{{url.image_string}}" target="_blank"><i class="fa fa-external-link"></i></a>
                                        <a href="javascript:;" (click)="open(element.planogram_post_after_image, i)"><i
                                                class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="expandList(row)" class="element-row"
                [class.expanded-row]="expandedElement === row"></tr>
            <tr mat-row *matRowDef="let row;let i = index; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
    </div>
    <mat-paginator [hidden]="hidePaginator(itemSource.data.length)" pageSize="10" [pageSizeOptions]="[5,10]">
    </mat-paginator>
</div>