<div class="card">
    <div class="card-header pt-4">
        <span class="h6 font-weight-bold text-secondary">{{formType}} Bank</span>
        <a (click)="close()" class="closeicon settingclose"><i class="os-icon os-icon-x text-secondary float-right"
                aria-hidden="true"></i></a>
    </div>
    <div class="form-box">
        <form [formGroup]="bankFormGroup">
            <div class="card-body">
                <div class="">
                    <div class="row mb-4">
                        <div class="col-md-4 ">Bank Code*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" (keypress)="restrictLength($event)"
                                style="width: 95%;" type="text" [formControl]="bankCodeFormControl">
                            <a (click)="open()" [hidden]="formType == 'Edit'" class="ml-2 settingIcon"><i
                                    class="os-icon os-icon-ui-46" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4 ">Bank Name*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" type="text" [formControl]="bankNameFormControl">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4 ">Account Number*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" type="text"
                                [formControl]="accountnumberFormControl">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4 ">Address*</div>
                        <div class="col-md-8">
                            <input class="form-control form-control-sm" type="text" [formControl]="addressFormControl">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <ng-container *ngIf="isCustomField">
            <app-custom-field-form [editData]="editData" (change)="onCustomFieldUpdated($event)" [module]="moduleId">
            </app-custom-field-form>
        </ng-container>
    </div>

    <div class="card-footer">
        <div class="d-inline float-right">
            <button class="btn btn-sm btn-light mr-2" (click)="close()">Cancel</button>
            <button class="btn btn-sm btn-p" (click)="saveBankData()">Save</button>
        </div>
    </div>
</div>