a {
  cursor: pointer;
}
.card{
  width: 550px;
}
.card-footer {
  position: fixed;
  width: 550px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.form-box {
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
}
.settingIcon
{
  position: absolute;
  top: 4px;
  right: 0 !important;
    i{
      font-size: 20px;
    }
}
@media (max-width: 575px) {
  .card{
    width: 365px;
  }
  .card-footer {
    width: 365px;
  }
  .settingIcon{
    top: 4px;
    left: auto !important;
    right: 22px;
}
}