.area-data{
    width: 98%;
    margin-top: 20px;
}
.mat-card{
    margin-bottom: 10px;
}

.card-input {
    display: inline-block;
    width: 3% !important;
    vertical-align: bottom;
    margin-right: 5px;
}