button:focus {
    outline: none;
  }
  
  button.mat-menu-item {
    height: 30px;
    line-height: normal;
  }
  
  button:active {
    outline: none;
  }
  
  .item-container {
    margin-top: 20px;
      /*padding: 0 20px 0;*/
      position: relative;
      width: 100%;
      overflow: auto;
    table {
      width: 99%;
      margin: auto;
      border: 1px solid #ced4da;
      border-collapse: separate;
      border-radius: 5px;
      border-spacing: 0;
    
      th,
      td {
        border-top: 1px solid #ced4da;
        border-left: 1px solid #ced4da;
    
        &:first-child {
          border-left: none;
        }
      }
    
      th {
        padding: 4px 10px;
        border-top: none;
        text-align: center;
        background-color: #f3f3f3;
      }
    
      td {
        padding: 0.5rem;
    
        .custom-select,
        .form-control {
          font-size: 12px;
        }
      }
    }
  }
  