:host {
  display: block;
  padding: 8px 12px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  user-select: none;
}

li {
  padding-left: 16px;
  border-bottom: 1px solid #c6c6c6;

  &:first-of-type {
    border-top: 1px solid #c6c6c6;
  }
}
