.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px 0;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  outline: 0;
}

.modal-header,
.model-small-header {
  background-color: #f5f5f5;
}

.modal-body,
.modal-footer,
.modal-header {
  padding: 20px;
}

.danger {
  font-size: 8px;
  font-weight: 400;
  color: red;
}

.position {
  position: absolute;
  bottom: -20px;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-body,
.modal-footer,
.modal-header {
  padding: 20px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
}

.modal-footer {
  justify-content: flex-end;
  margin-top: 0;
  height: auto;
}

.modal-body,
.modal-footer,
.modal-header {
  padding: 20px;
}

.modal-footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background-color: #1abc9c;
  border-color: #515151;
}

.form-control {
  width: 94% !important;
}

.mtleft {
  margin-left: -10px;
}

.ember-text-field1 {
  width: 107% !important;
}

button {
  &:focus {
    outline: 0;
  }
}

.modal-title {
  margin: 0;
}

::ng-deep .mat-paginator {
  // override material paginator page switch
  .mat-paginator-range-label {
    order: 2;
  }

  .mat-paginator-navigation-previous {
    order: 1;
  }

  .mat-paginator-navigation-next {
    order: 3;
  }
}

.table thead,
.table thead tr,
.mat-header-row {
  justify-content: space-between;
  background-color: black !important;

  th {
    border: 0 !important;
    background: black;
    color: #fff;
    min-width: 160px;
  }
}

td.mat-cell {
  border: 0 !important;
  min-width: 160px;
}

.dialog-close-btn {
  float: right;
  border: 0;
  position: relative;
  top: -5px;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.cancel-btn {
  padding: 0 20px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row-reverse;

  button {
    height: 36px;
    border: 1px solid #cccccc;
  }
}

.form-container {
  // margin: 20px 0;
  padding: 12px 22px 236px;
}

.save-btn {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;

  button {
    height: 36px;
    border: 1px solid #cccccc;
  }

  .btn-green {
    background-color: #1abc9c;
    color: white;
    margin-left: 12px;
    border: 0;
  }
}
