<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
  <mat-drawer
    id="formDrawer"
    mode="over"
    position="end"
    #formDrawer
    class="border"
  >
    <div style="min-width: 320px;">
      <app-add-region-form (updateTableData)="updateTableData($event)"></app-add-region-form>
    </div>
  </mat-drawer>
  <section>
    <div class="table-box" [ngClass]="{ collapsed: isDetailVisible }">
      <div class="heading-row">
        <p class="h4 font-weight-light d-inline" *ngIf="!isDetailVisible">
          Region Master
        </p>
        <div class="d-inline float-right">
          <button
            type="button"
            class="btn btn-sm btn-p mr-2"
            appPermission
            [permissions]="userPermissions"
            [type]="'create'"
            (click)="openAddRegion()"
          >
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button>
          <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
            [matMenuTriggerFor]="menu2">
            Bulk Actions
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
            <button mat-menu-item (click)="bulkAction('inactive')" >Mark as Inactive</button>
            <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
              Delete
            </button> -->
          </mat-menu>
          <!-- impot /Export  -->
          <button class="btn btn-sm btn-white ml-2 dropdown-toggle" [matMenuTriggerFor]="menu3">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <mat-menu #menu3="matMenu">
              <button mat-menu-item (click)="openImportRegion()">Import Region Master</button>
              <button mat-menu-item type="button" (click)="openExportRegion()">Export Region Master</button>
          </mat-menu>
          
        </div>
      </div>
      <app-region-master-dt
        [newRegionData]="newRegionData"
        (itemClicked)="itemClicked($event)"
        (selectedRows)="selectedRows($event)"
      ></app-region-master-dt>
    </div>
    <div class="details-box" [ngClass]="{ expanded: isDetailVisible }">
      <app-region-master-details-page
        (updateTableData)="updateTableData($event)"
        (detailsClosed)="closeClicked()"
        [isDetailVisible]="isDetailVisible"
        [regionMaster]="regionMaster"
      ></app-region-master-details-page>
    </div>
  </section>
</mat-drawer-container>
