section {
  transition: visibility 0.4s, opacity 0.4s;
  visibility: hidden;
  opacity: 0;

  &.detail-visible {
    transition: visibility 0.4s, opacity 0.4s;
    visibility: visible;
    opacity: 1;
  }
}

button:active {
  outline: none;
}

button.mat-menu-item {
  height: 30px;
  line-height: normal;

  &:focus {
    outline: none;
  }
}

