<!-- <section>
  <div class="table-box" [ngClass]="{ 'collapsed': isDetailVisible }">
    <div class="heading-row">
      <h2 class="title" [hidden]="isDetailVisible">TAX-SETTINGS</h2>
      <div class="actions" [ngClass]="{ 'expanded-action': isDetailVisible }">
        <button class="btn btn-sm border new" mat-button (click)="openItemGroup()"><i class="fa fa-plus mr-2" aria-hidden="true"></i>New</button>
        <button class="btn btn-sm border" mat-button [matMenuTriggerFor]="menu2">Bulk Action</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item>Change Status</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </div>
    </div>
    <app-taxdt (itemClicked)="itemClicked($event)" ></app-taxdt>
  </div>

</section>
 -->
