<div style="padding:30px 50px">
    <header>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <input type="date" formControlName="startdate" (change)="applyFilter()"
                                            class="form-control form-control-sm" placeholder="Start Date">
                                    </div>
                                    <div class="">
                                        <span>_</span>
                                    </div>
                                    <div class="col">
                                        <input type="date" formControlName="enddate" (change)="applyFilter()"
                                            class="form-control form-control-sm" placeholder="End Date">
                                    </div>
                                    <div class="col">
                                        <mat-select formControlName="type" class="form-control form-control-sm"
                                            placeholder="Filter Type">
                                            <mat-option *ngFor="let item of filtersList" [value]="item">{{item}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Channel'">
                                        <app-multiautocomplete isSingle="false"
                                            [control]="filterForm.controls['channel']" [options]="channelList"
                                            (selectionchanged)="applyFilter()" text="name" id="id"
                                            placeholder="Search channel">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Region'">
                                        <app-multiautocomplete isSingle="false" [options]="regionList"
                                            (selectionchanged)="applyFilter()" [control]="filterForm.controls['region']"
                                            text="region_name" id="id" placeholder="Search region">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Merchandiser'">
                                        <app-multiautocomplete isSingle="false" [options]="merchandiserList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['salesman']" text="" id="user_id"
                                            objectName="user" param1="firstname" param2="lastname"
                                            placeholder="Search merchandiser">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Supervisor'">
                                        <app-multiautocomplete isSingle="false" [options]="supervisorList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['supervisor']" text="salesman_supervisor"
                                            id="id" objectName="supervisor_user" param1="firstname" param2="lastname"
                                            placeholder="Search supervisor">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'NSM'">
                                        <app-multiautocomplete isSingle="false" [options]="nsmList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['nsm']" text="name"
                                            id="id" objectName="user-root" param1="firstname" param2="lastname"
                                            placeholder="Search NSM">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'ASM'">
                                        <app-multiautocomplete isSingle="false" [options]="asmList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['asm']" text="name"
                                            id="id" objectName="user-root" param1="firstname" param2="lastname"
                                            placeholder="Search ASM">
                                        </app-multiautocomplete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </header>
    <hr>
    <div class="row mt-3">
        <div class="col-md-6 d-flex align-items-end">
            <h2><strong>Merchandising</strong></h2>
            &nbsp; <h4>Positioning</h4>
        </div>
        <!-- <div class="col-md-6 text-right">
            <strong>Last Reload Date: 12/12/2020</strong>
        </div> -->
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="padding: 17px !important;" scope="col">
                                <div>Outlet</div>
                            </th>
                            <th style="padding: 17px !important;" scope="col">
                                <div>Code</div>
                            </th>
                            <th scope="col">
                                <div>Outlet Coverage</div>
                            </th>
                            <th scope="col">
                                <div>Outlet Exec</div>
                            </th>
                            <th scope="col">
                                <div>Active Outlet</div>
                            </th>
                            <th scope="col">
                                <div>Visits Per Day</div>
                            </th>

                            <th scope="col">
                                <div>Visit Freq</div>
                            </th>
                            <th scope="col">
                                <div>Time Spent</div>
                            </th>
                            <!-- <th scope="col">
                                <div>Strike Rate</div>
                            </th> -->
                            <th scope="col">
                                <div>Route Comp</div>
                            </th>

                            <th scope="col">
                                <div>Shelf Price</div>
                            </th>
                            <th scope="col">
                                <div>Assortment</div>
                            </th>
                            <th scope="col">
                                <div>Shelf Share</div>
                            </th>
                            <th scope="col">
                                <div>Planogram Compl</div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dashboardData">
                            <td style="width: 120px;">{{item.firstname?item.firstname:'N/A'}} </td>
                            <td>{{item.customer_code? item.customer_code :'N/A'}} </td>
                            <td>
                                <ng-container *ngIf="item.coverage;  else na">
                                    {{item.coverage +'%'}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="item.execution;  else na">
                                    {{item.execution +'%'}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container>
                                    {{item.activeoutlet ? item.activeoutlet +'%' : '0%'}}
                                </ng-container>

                            </td>
                            <td>
                                <ng-container *ngIf="item.visitperday;  else na">
                                    {{item.visitperday }}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="item.visitfrequency;  else na">
                                    {{item.visitfrequency +'%'}}
                                </ng-container>
                            </td>
                            <td>
                                {{item.timeSpent ? item.timeSpent : '0' }}
                            </td>
                            <td>{{item.routeCompliance ? item.routeCompliance :'0'}}%</td>
                            <td>{{item.shelfprice ? item.shelfprice :'0'}}</td>
                            <td>{{item.share_of_assortment_our_brands ? item.share_of_assortment_our_brands :'0'}}%</td>
                            <td>{{item.sos ? item.sos :'0'}}%</td>
                            <td>{{item.PlanogramCompliance ? item.PlanogramCompliance :'0'}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #na>
    0
</ng-template>