<section class="scrolly">
  <ng-container *ngIf="advanceSearchRequest.length>0">
    <app-search-criteria [data]="advanceSearchRequest" (change)="onChangeCriteria()" (close)="onCloseCriteria()">
    </app-search-criteria>
  </ng-container>

  <div class="table-responsive">
    <table class="table table-hover" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <button class="btn btn-sm filter-btn " *ngIf="!isDetailVisible" [matMenuTriggerFor]="menu">
            <i class="fa fa-table" aria-hidden="true"></i>
          </button>
          <mat-menu #menu="matMenu">
            <div class="card-body p-2" style="min-width: 200px;">
              <ul style="list-style:none; padding-left: 7px;">
                <li *ngFor="let column of filterColumns">
                  <input type="checkbox" [(ngModel)]="column.show" class="m-2" (click)="$event.stopPropagation()">
                  {{column.title}}
                </li>
              </ul>
              <div class="float-right mb-2">
                <button class="btn btn-p bg-secondary">Cancel</button>
              </div>
            </div>
          </mat-menu>
          <mat-checkbox class="head-checkbox" (change)="$event ? toggleSelection() : null" (change)="getSelectedRows()"
            [checked]="selections.hasValue() && isAllSelected()"
            [indeterminate]="selections.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox class="row-checkbox" (click)="$event.stopPropagation()"
            (change)="$event ? selections.toggle(row) : null" (change)="getSelectedRows()"
            [checked]="selections.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="jpName">
        <th mat-header-cell *matHeaderCellDef>
          <app-column-filter title="Name" (changeSelected)="onColumnFilterOpen($event)"
            [selected]="selectedColumnFilter" controlName="name" (close)="onColumnFilter($event)">
            <input class="form-control form-control-sm" [formControl]="filterForm.get('name')" placeholder="Enter Name"
              type="text">
          </app-column-filter>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef>
          <app-column-filter title="Route" (changeSelected)="onColumnFilterOpen($event)"
          [selected]="selectedColumnFilter" controlName="route_name" (close)="onColumnFilter($event)">
          <input class="form-control form-control-sm" [formControl]="filterForm.get('route_name')" placeholder="Enter Route"
            type="text">
        </app-column-filter>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.route ? element.route.route_name : element.route_id  }}</td>
      </ng-container>
      <ng-container matColumnDef="jpStartDate">
        <th mat-header-cell *matHeaderCellDef>
          <app-column-filter title="Start Date" controlName="start_date" (changeSelected)="onColumnFilterOpen($event)"
            [selected]="selectedColumnFilter" (close)="onColumnFilter($event)">
            <input class="form-control form-control-sm" [formControl]="filterForm.get('start_date')"
              placeholder="Enter Start Date" type="date">
          </app-column-filter>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.start_date }}</td>
      </ng-container>
      <ng-container matColumnDef="jpEndDate">
        <th mat-header-cell *matHeaderCellDef>
          <app-column-filter title="End Date" controlName="end_date" (changeSelected)="onColumnFilterOpen($event)"
            [selected]="selectedColumnFilter" (close)="onColumnFilter($event)">
            <input class="form-control form-control-sm" [formControl]="filterForm.get('end_date')"
              placeholder="Enter End Date" type="text">
          </app-column-filter>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.end_date ? element.end_date : 'Has no End Date' }}</td>
      </ng-container>
      <ng-container matColumnDef="approval">
        <th mat-header-cell *matHeaderCellDef>
          Approval
        </th>
        <td mat-cell *matCellDef="let element">{{ element.current_stage }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="openDetailView(row)"></tr>
    </table>
    <div [ngClass]="{'hidden': !dataSource.data.length}">
      <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)"
        [length]="apiResponse.pagination?.total_records" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]">
      </mat-paginator>
    </div>
  </div>
</section>

<!-- {{ element.route.route_name }} -->