.form-box {
  padding: 1.25rem;

  background: #fff;
}

.radio-box-div {
  margin-bottom: 8px;
}

.check-box-div {
  position: relative;
  margin-bottom: 12px;
}

.form-check-label {
  padding-left: 48px;
  position: relative;
  top: 4px;
  font-size: 16px;
}

.mat-form-field {
  display: block;
}

.route-selection {
  margin-bottom: 0;
}

