.content-wrapper{
    background-color: #f7f7f7;
}
.form-control{
    height: calc(1.5em + 0.75rem + 10px);
    font-size: 0.87rem;
}
.form-rounded{
    border-radius: 1.2rem;
}

.btn-login{
    border-radius: 1.5rem;
    padding: 3px 50px;
}

