<!-- <button class="btn btn-sm border ml-2" *ngIf="selection.selected.length > 0" (click)="openBulkAction()"> Bulk Action</button>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="customize">
    <th mat-header-cell *matHeaderCellDef>
      <button class="btn btn-sm border" [matMenuTriggerFor]="menu" style="height: 30px;">
        <i class="fa fa-table" aria-hidden="true"></i>
      </button>
      <mat-menu #menu="matMenu">
        <div click-stop-propagation class="card-body p-2" style="min-width: 200px;">
          <ul style="list-style:none; padding-left: 7px;">
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[1].show" class="m-2">
              {{displayedColumns[1].title}}
            </li>
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[2].show" class="m-2">
              {{displayedColumns[2].title}}
            </li>
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[3].show" class="m-2">
              {{displayedColumns[3].title}}
            </li>
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[4].show" class="m-2">
            {{displayedColumns[4].title}}
          </li>
          </ul>
          <div class="float-right mb-2">
            <button class="btn btn-p mr-2">Save</button>
            <button class="btn btn-p bg-secondary">Cancel</button>
          </div>
        </div>
      </mat-menu>
    </th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Item Group Code </th>
    <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Item Group Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>
  <ng-container matColumnDef="item_sub_category_id">
    <th mat-header-cell *matHeaderCellDef> Sub Category Code </th>
    <td mat-cell *matCellDef="let element"> {{ element.item_sub_category_id }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns();"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="openDetails(row)"></tr>
</table>

<div [ngClass]="{'hidden': !dataSource.data.length}">
  <mat-paginator pageSize=10 [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div> -->
<!-- <button class="btn btn-sm border ml-2" *ngIf="selection.selected.length > 0" (click)="openBulkUpdate()"> Bulk Update</button>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="customize">
    <th mat-header-cell *matHeaderCellDef>
      <button class="btn btn-sm border" [matMenuTriggerFor]="menu" style="height: 30px;">
        <i class="fa fa-table" aria-hidden="true"></i>
      </button>
      <mat-menu #menu="matMenu">
        <div click-stop-propagation class="card-body p-2" style="min-width: 200px;">
          <ul style="list-style:none; padding-left: 7px;">
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[1].show" class="m-2">
              {{displayedColumns[1].title}}
            </li>
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[2].show" class="m-2">
              {{displayedColumns[2].title}}
            </li>
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[3].show" class="m-2">
              {{displayedColumns[3].title}}
            </li>
            <li class=""><input type="checkbox" click-stop-propagation [(ngModel)]="displayedColumns[4].show" class="m-2">
            {{displayedColumns[4].title}}
          </li>
          </ul>
          <div class="float-right mb-2">
            <button class="btn btn-p mr-2">Save</button>
            <button class="btn btn-p bg-secondary">Cancel</button>
          </div>
        </div>
      </mat-menu>
    </th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Category Code </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Category Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{ element.status === 1 ? 'Active' : 'Inactive' }} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns();"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="openDetails(row)"></tr>
</table>

<div [ngClass]="{'hidden':dataSource.data.length < 10}">
  <mat-paginator pageSize=10 [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div> -->



<section class="scrolly">
  <div class="table-responsive">
    <table class="table table-hover" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <a class="filter-btn" *ngIf="!isDetailVisible" [matMenuTriggerFor]="menu" style="height: 30px;">
            <i class="fa fa-table" aria-hidden="true"></i>
          </a>
          <mat-menu #menu="matMenu">
            <div class="card-body p-2" style="min-width: 200px;">
              <ul style="list-style:none; padding-left: 7px;">
                <li *ngFor="let column of filterColumns">
                  <input type="checkbox" [(ngModel)]="column.show" class="m-2" (click)="$event.stopPropagation()">
                  {{column.title}}
                </li>
              </ul>
              <div class="float-right mb-2">
                <button class="btn btn-p bg-secondary">Cancel</button>
              </div>
            </div>
          </mat-menu>
          <mat-checkbox
            class="head-checkbox"
            (change)="$event ? toggleSelection() : null"
            (change)="getSelectedRows()"
            [checked]="selections.hasValue() && isAllSelected()"
            [indeterminate]="selections.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            class="row-checkbox"
            (click)="$event.stopPropagation()"
            (change)="$event ? selections.toggle(row) : null"
            (change)="getSelectedRows()"
            [checked]="selections.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <br/>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Item Group Code </th>
        <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Item Group Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>
      <ng-container matColumnDef="item_sub_category.name">
        <th mat-header-cell *matHeaderCellDef> Sub Category Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.item_sub_category.name }} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status === 1 ? 'Active' : 'Inactive' }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns();"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="openDetailView(row)"></tr>
    </table>
  </div>
  <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)" [length]="apiResponse.pagination?.total_records"
            [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"> </mat-paginator>
  
</section>