button:focus {
    outline: none;
}

button.mat-menu-item {
    height: 30px;
    line-height: normal;
}
  button:focus {
    outline: none;
  }
  
  button.mat-menu-item {
    height: 30px;
    line-height: normal;
  }
  
  .table-box {
    float: left;
    transition: width 0.4s;
    width: 100%;
  }
  .heading-row {
    height: 70px;
}

  
  .details-box {
    float: left;
    transition: width 0.4s, height 2s, visibility 0.4s;
    width: 0;
    height: calc(100vh - 68px);
    visibility: hidden;
  }
  
  .collapsed {
    transition:width 0.4s;
    width: 25%;
  }
  
  .expanded {
    height: calc(100vh - 50px);
    transition: width 0.4s, visibility 0.4s;
    width: 75%;
    border-left: 2px solid lightgray;
    visibility: visible;
  }
  .mat-button{
    line-height: normal;
    height: 30px;
  }
  .table-box.collapsed{
    thead{
      tr th:first-child {
      
          display: none;
     
      }
    }
    tbody{
      tr td:first-child{
    
          display: none;
       
      }
    }
  }
