<mat-toolbar class="toolbar1 m-0">
    <mat-toolbar-row class="d-flex justify-content-between">
        <div class="logo mb-24 mb-md-0" class="d-flex align-items-center">

            <h3 class="title">{{selected}}</h3>&nbsp;&nbsp;<span style="margin-top: 15px;
            font-size: small;" class="badge badge-success">{{dashboardData !== undefined ? dashboardData[selected] !==
                undefined ? dashboardData[selected]['percentage'] || '0%' : '0%' : '0%'}}</span>
        </div>
        <button (click)="onClose()" mat-icon-button class="title" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div>
    <header>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <input type="date" formControlName="startdate" (change)="applyFilter()"
                                            class="form-control form-control-sm" placeholder="Start Date">
                                    </div>
                                    <div class="">
                                        <span>_</span>
                                    </div>
                                    <div class="col">
                                        <input type="date" formControlName="enddate" (change)="applyFilter()"
                                            class="form-control form-control-sm" placeholder="End Date">
                                    </div>
                                    <div class="col">
                                        <mat-select formControlName="type"
                                            (selectionChange)="changeFilterType($event.value)"
                                            class="form-control form-control-sm" placeholder="Filter Type">
                                            <mat-option *ngFor="let item of filtersList" [value]="item">{{item}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Channel'">
                                        <app-multiautocomplete isSingle="false"
                                            [control]="filterForm.controls['channel']" [options]="channelList"
                                            (selectionchanged)="applyFilter()" text="name" id="id"
                                            placeholder="Search channel">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Region'">
                                        <app-multiautocomplete isSingle="false" [options]="regionList"
                                            (selectionchanged)="applyFilter()" [control]="filterForm.controls['region']"
                                            text="region_name" id="id" placeholder="Search region">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Merchandiser'">
                                        <app-multiautocomplete isSingle="false" [options]="merchandiserList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['salesman']" text="" id="user_id"
                                            objectName="user" param1="firstname" param2="lastname"
                                            placeholder="Search merchandiser">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'Supervisor'">
                                        <app-multiautocomplete isSingle="false" [options]="supervisorList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['supervisor']" text="salesman_supervisor"
                                            id="id" objectName="supervisor_user" param1="firstname" param2="lastname"
                                            placeholder="Search supervisor">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'NSM'">
                                        <app-multiautocomplete isSingle="false" [options]="nsmList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['nsm']" text="name"
                                            id="id" objectName="user-root" param1="firstname" param2="lastname"
                                            placeholder="Search NSM">
                                        </app-multiautocomplete>
                                    </div>
                                    <div class="col" *ngIf="filterForm.controls['type'].value == 'ASM'">
                                        <app-multiautocomplete isSingle="false" [options]="asmList"
                                            (selectionchanged)="applyFilter()"
                                            [control]="filterForm.controls['asm']" text="name"
                                            id="id" objectName="user-root" param1="firstname" param2="lastname"
                                            placeholder="Search ASM">
                                        </app-multiautocomplete>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <hr>
    <div class="container mb-5">
        <hr>
        <div class="row">
            <div class=" col-md-12 d-flex flex-wrap ">
                <div class="box d-flex flex-column">
                    <div class="d-flex justify-content-center header-bottom ">
                        <strong class="text-warning">Trends by {{ filterForm.controls['type'].value }}</strong>
                    </div>
                    <div class="d-flex">
                        <div id="chartdiv111444" style="width: 100%; height: 200px; position: relative; "></div>
                    </div>
                </div>
                <div class="box d-flex flex-column">
                    <div class="d-flex justify-content-center header-bottom ">
                        <strong class="text-warning">Comparison by {{ filterForm.controls['type'].value }}</strong>
                    </div>
                    <div class="d-flex">
                        <div id="chartdiv222444" style="width: 100%; height: 200px; position: relative; "></div>
                    </div>
                </div>
                <div class="box d-flex flex-column">
                    <div class="d-flex justify-content-center header-bottom ">
                        <strong class="text-warning">Contribution by {{ filterForm.controls['type'].value }}</strong>
                    </div>
                    <div class="d-flex">
                        <div id="chartdiv333444" style="width: 100%; height: 200px; position: relative; "></div>
                    </div>
                </div>
                <div class="box d-flex flex-column" style="    max-height: 218px;
                    overflow: scroll;">
                    <div class="d-flex justify-content-center header-bottom ">
                        <strong class="text-warning">Details by {{ filterForm.controls['type'].value }}</strong>
                    </div>
                    <div class="d-flex">
                        <table class="table table-responsive">
                            <thead
                                *ngIf="selected !== 'activeOutlets' && selected !== 'coverage' && selected !== 'visitPerDay' && selected !== 'execution' && selected !== 'timeSpent'">
                                <tr>
                                    <th class="th-custom"><strong>{{ filterForm.controls['type'].value }}</strong>
                                    </th>
                                    <th class="th-custom"><strong>Visits</strong></th>
                                    <th class="th-custom"><strong>Total Outlets</strong></th>
                                    <th class="th-custom"><strong>Execution</strong></th>
                                </tr>
                            </thead>
                            <thead *ngIf="selected == 'timeSpent'">
                                <tr>
                                    <th class="th-custom"><strong>{{ filterForm.controls['type'].value }}</strong>
                                    </th>
                                    <th class="th-custom"><strong>Total Time</strong></th>
                                    <th class="th-custom"><strong>Total Outlets</strong></th>
                                    <th class="th-custom"><strong>Time Spent</strong></th>
                                </tr>
                            </thead>
                            <thead *ngIf="selected == 'activeOutlets'">
                                <tr>
                                    <th class="th-custom"><strong>{{ filterForm.controls['type'].value }}</strong>
                                    </th>
                                    <th class="th-custom"><strong>Actual Outlets</strong></th>
                                    <th class="th-custom"><strong>Total Outlets</strong></th>
                                    <th class="th-custom"><strong>Active Outlets</strong></th>
                                </tr>
                            </thead>
                            <thead *ngIf="selected == 'coverage'">
                                <tr>
                                    <th class="th-custom"><strong>{{ filterForm.controls['type'].value }}</strong>
                                    </th>
                                    <th class="th-custom"><strong>Visits</strong></th>
                                    <th class="th-custom"><strong>Total Outlets</strong></th>
                                    <th class="th-custom"><strong>Coverage</strong></th>
                                </tr>
                            </thead>
                            <thead *ngIf="selected == 'execution'">
                                <tr>
                                    <th class="th-custom"><strong>{{ filterForm.controls['type'].value }}</strong>
                                    </th>
                                    <th class="th-custom"><strong>Completed Task</strong></th>
                                    <th class="th-custom"><strong>Total Task</strong></th>
                                    <th class="th-custom"><strong>Execution</strong></th>
                                </tr>
                            </thead>
                            <thead *ngIf="selected == 'visitPerDay'">
                                <tr>
                                    <th class="th-custom"><strong>{{ filterForm.controls['type'].value }}</strong>
                                    </th>
                                    <th class="th-custom"><strong>Visits</strong></th>
                                    <th class="th-custom"><strong>Total Outlets</strong></th>
                                    <th class="th-custom"><strong>Avg. Visit</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of detailsTable; let i = index;" class=" tr-brown ">
                                    <td>{{row.RES}}</td>
                                    <td>{{row.VISITS}}</td>
                                    <td>{{row['TOTAL_OUTLETS']}}</td>
                                    <td>{{row.EXECUTION}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <section class="scrolly clearfix">
                    <div class="table-responsive">
                        <div style="padding:20 10;">
                            <h2 style="margin-left: 10px;"> <strong>Detail</strong></h2>

                            <div class="pl-3 items-table-box w-100">
                                <div class="table-responsive">
                                    <table class="table table-hover" mat-table [dataSource]="dataSource">
                                        <ng-container matColumnDef="customerName">
                                            <th mat-header-cell *matHeaderCellDef> Customer </th>
                                            <td mat-cell *matCellDef="let element">
                                                <span
                                                    *ngIf="element.customer; else elseTemplate">{{element.customer}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="customerCode">
                                            <th mat-header-cell *matHeaderCellDef> customer Code </th>
                                            <td mat-cell *matCellDef="let element">
                                                <span
                                                    *ngIf="element.customerCode; else elseTemplate">{{element.customerCode}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="no_of_tasks_completed">
                                            <th mat-header-cell *matHeaderCellDef> tasks completed </th>
                                            <td mat-cell *matCellDef="let element">
                                                <span
                                                    *ngIf="element.no_of_tasks_completed; else elseTemplate">{{element.no_of_tasks_completed}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="total_tasks_planned">
                                            <th mat-header-cell *matHeaderCellDef> tasks planned </th>
                                            <td mat-cell *matCellDef="let element">
                                                <span
                                                    *ngIf="element.total_tasks_planned; else elseTemplate">{{element.total_tasks_planned}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="category">
                                            <th mat-header-cell *matHeaderCellDef> Category </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.category; else elseTemplate">{{element.category}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="salesmanName">
                                            <th mat-header-cell *matHeaderCellDef> Merchandiser </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.merchandiser; else elseTemplate">{{element.merchandiser}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="region">
                                            <th mat-header-cell *matHeaderCellDef>Region </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.region; else elseTemplate">{{element.region}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="order_no">
                                            <th mat-header-cell *matHeaderCellDef>order no </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.orderNo; else elseTemplate">{{element.orderNo}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="channel">
                                            <th mat-header-cell *matHeaderCellDef> channel </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.channel; else elseTemplate">{{element.channel}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="regionalManager">
                                            <th mat-header-cell *matHeaderCellDef>regional Manager </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.regionalManager; else elseTemplate">{{element.regionalManager}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="areaManager">
                                            <th mat-header-cell *matHeaderCellDef> area Manager </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.areaManager; else elseTemplate">{{element.areaManager}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="order_value">
                                            <th mat-header-cell *matHeaderCellDef>order value </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.orderValue; else elseTemplate">{{element.orderValue}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="start_time">
                                            <th mat-header-cell *matHeaderCellDef>start time </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.startTime; else elseTemplate">{{element.startTime}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="end_time">
                                            <th mat-header-cell *matHeaderCellDef>end time </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.endTime; else elseTemplate">{{element.endTime}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="time_spent">
                                            <th mat-header-cell *matHeaderCellDef>time spent </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.timeSpent; else elseTemplate">{{element.timeSpent}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="lng">
                                            <th mat-header-cell *matHeaderCellDef>Longitude</th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.longitude; else elseTemplate">{{element.longitude}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="lat">
                                            <th mat-header-cell *matHeaderCellDef>Latitude </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.latitude; else elseTemplate">{{element.latitude}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="total_task">
                                            <th mat-header-cell *matHeaderCellDef> Total Task </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.totalTask; else elseTemplate">{{element.totalTask}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="task_done">
                                            <th mat-header-cell *matHeaderCellDef> Completed Task </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.completedTask; else elseTemplate">{{element.completedTask}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="salesman_supervisor">
                                            <th mat-header-cell *matHeaderCellDef> Supervisor </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.salesmanSupervisor; else elseTemplate">{{element.salesmanSupervisor}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="supervisor">
                                            <th mat-header-cell *matHeaderCellDef> Supervisor </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.supervisor; else elseTemplate">{{element.supervisor}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="visit_date">
                                            <th mat-header-cell *matHeaderCellDef> Date </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.date; else elseTemplate">{{element.date}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="seq">
                                            <th mat-header-cell *matHeaderCellDef> Sequence </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.sequence; else elseTemplate">{{element.sequence ==
                                                    '1' ? 'Yes' : 'No'}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="visit">
                                            <th mat-header-cell *matHeaderCellDef> Visit </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.visit; else elseTemplate">{{element.visit}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="countOfVisit">
                                            <th mat-header-cell *matHeaderCellDef> Count Of Visit </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.visit; else elseTemplate">{{element.visit}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="success_visit">
                                            <th mat-header-cell *matHeaderCellDef> Successfull Visit </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.sucessfullVisit; else elseTemplate">{{element.sucessfullVisit}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="unsuccess_visit">
                                            <th mat-header-cell *matHeaderCellDef> Unsuccessfull Visit </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.unsucessfullVisit; else elseTemplate">{{element.unsucessfullVisit}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="strike">
                                            <th mat-header-cell *matHeaderCellDef> Strike</th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.strike; else elseTemplate0">{{element.strike}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="strike_calls_percent">
                                            <th mat-header-cell *matHeaderCellDef> Strike %</th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.strike_calls_percent; else elseTemplate">{{element.strike_calls_percent}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="unplanned">
                                            <th mat-header-cell *matHeaderCellDef> Unplanned </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.unplanned; else elseTemplate">{{element.unplanned}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="total_planned_customer">
                                            <th mat-header-cell *matHeaderCellDef> Total Planned Customer </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.total_planned_customer; else elseTemplate">{{element.total_planned_customer}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="total_customer">
                                            <th mat-header-cell *matHeaderCellDef> Total Customer </th>
                                            <td mat-cell *matCellDef="let element"> <span
                                                    *ngIf="element.total_customer; else elseTemplate">{{element.total_customer}}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="journeyPlan">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Journey Plan
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.journeyPlan; else elseTemplate0">{{
                                                    element.journeyPlan }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="journeyPlanPercent">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Journey Plan %
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.journeyPlanPercent; else elseTemplate">{{
                                                    element.journeyPlanPercent }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="planedJourney">
                                            <th mat-header-cell *matHeaderCellDef>
                                                planed Visited
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.planedJourney; else elseTemplate0">{{
                                                    element.planedJourney }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="totalJourney">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Total Visited
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.totalJourney; else elseTemplate0">{{
                                                    element.totalJourney }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="strikeCalls">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Strike Calls
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <span>{{
                                                    element.strike_calls ? element.strike_calls :'0' }}</span>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="unPlanedJourney">
                                            <th mat-header-cell *matHeaderCellDef>
                                                UnPlaned Visited
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.unPlanedJourney; else elseTemplate0">{{
                                                    element.unPlanedJourney }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="unPlanedJourneyPercent">
                                            <th mat-header-cell *matHeaderCellDef>
                                                UnPlaned Visited %
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.unPlanedJourneyPercent; else elseTemplate">{{
                                                    element.unPlanedJourneyPercent }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="merchandiserCode">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Merchandiser Code
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.merchandiserCode; else elseTemplate">{{
                                                    element.merchandiserCode }}</span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="merchandiserName">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Merchandiser Name
                                            </th>
                                            <td mat-cell *matCellDef="let element"><span
                                                    *ngIf="element.merchandiserName; else elseTemplate">{{
                                                    element.merchandiserName }}</span></td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"> </mat-paginator>
                        </div>


                        <ng-template #elseTemplate>
                            <p style="text-align: center;">-</p>
                        </ng-template>
                        <ng-template #elseTemplate0>
                            <p style="text-align: center;">0</p>
                        </ng-template>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>