a {
  cursor: pointer;
}

button:active {
  outline: none !important;
}

.card-footer {
  position: fixed;
  width: 550px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  ;
}

.selection-label {
  position: relative;

  span {
    position: absolute;
    top: 10px;
  }
}


.items-table-box {

  mat-paginator,
  .mat-table {
    max-width: 75%;
    margin: auto;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 14px;

    &:active {
      outline: none;
    }
  }
}

.settingIcon {
  position: absolute;
  top: 4px;
  right: 0;

  i {
    font-size: 20px;
  }
}

.form-box {
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
}

@media (max-width: 575px) {

  .card,
  .card-footer {
    width: 320px !important;
  }

  .container {
    padding: 0;
  }
}
