button:focus {
  outline: none;
}

.fa-plus {
  padding-bottom: 2px;
}

button.mat-menu-item {
  height: 30px;
  line-height: normal;
}
.heading-row {
  height: 70px;
}
.mat-button{
  line-height: normal;
  height: 30px;
}
.table-box {
  float: left;
  transition: width 0.4s;
  width: 100%;
}


.title {
  float: left;
  width: 70%;
  margin: 0;
  font-size: 24px;
  padding-left: 20px;
  position: relative;
  top: 8px;
}



.details-box {
  float: left;
  transition: width 0.4s, height 2s, visibility 0.4s;
  width: 0;
  height: calc(100vh - 68px);
  visibility: hidden;
}

.collapsed {
  transition: width 0.4s;
  width: 25%;
}

.expanded {
  height: calc(100vh - 50px);
  transition: width 0.4s, visibility 0.4s;
  width: 75%;
  border-left: 2px solid lightgray;
  visibility: visible;
}

// New Styles



.actions {
  justify-content: flex-end;
}
