.item-card,
  .customer-card {
    padding: 12px !important;
    border-radius: 10px;
    background-color: #d3d3d352;
    margin-right: 12px;
    margin-bottom : 12px;
  
    h4,p {
      margin: 0;
    }
  }

  .w-75{
    width: 75% !important;
  }

  .pr_10{
    padding-right: 10px;
  }