a {
  cursor: pointer;
}


.card-footer {
  position: fixed;
  width: 550px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);;
}
.markred
{
color: red;
}
.settingIcon
{
position: absolute;
top: 4px;
left: 325px !important;
  i{
    font-size: 20px;
  }
}
