<section *ngIf="itemUoms">
  <div class="pl-3">
    <div class="row">
      <h2 class="page-title col-sm-6 font-weight-light">{{ itemUoms.name }}</h2>
      <div class="actions col-sm-6">
        <button appPermission [permissions]="userPermissions" [type]="'edit'" class="iconbtn"
          (click)="openEditItemUoms()">
          <i class="os-icon os-icon-edit" aria-hidden="true"></i>
        </button>
        <div>
          <button class="btn btn-sm btn-white  dropdown-toggle" mat-button [matMenuTriggerFor]="menu2">
            More
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="toggleStatus()">
              Mark as {{ itemUoms.status === 0 ? "Active" : "Inactive" }}
            </button>
            <button mat-menu-item (click)="openDeleteBox()" appPermission [permissions]="userPermissions"
              [type]="'delete'">
              Delete
            </button>
          </mat-menu>
        </div>
        <button *ngIf="isDetailVisible" class="btn" (click)="closeDetailView()">
          <i class="os-icon os-icon-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="pl-3">
    <div class="row h-100">
      <div class="col-12 border-left">
        <mat-tab-group class="customertab" mat-align-tabs="start">
          <mat-tab label="Overview">
            <mat-list>
              <mat-list-item>Item Uoms code: {{ itemUoms.code }}</mat-list-item>
              <mat-list-item>Item Uoms Name: {{ itemUoms.name }}</mat-list-item>

              <mat-list-item>Status:
                {{
                  itemUoms.status === 0 ? "Inactive" : "Active"
                }}</mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Sales">
            <mat-list>
              <mat-list-item>Sales 1</mat-list-item>
              <mat-list-item>Sales 2</mat-list-item>
              <mat-list-item>Sales 3</mat-list-item>
              <mat-list-item>Sales 4</mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>