.form-box {
  text-align: left;
  padding:1.25rem;
  
  }
  
  .check-box-div {
    position: relative;
    margin-bottom: 12px;
  }
  
  .form-check-label {
    padding-left: 48px;
    position: relative;
    top: 4px;
    font-size: 16px;
  }
  .breadcrumb{
    background-color: transparent;
  }