section {
  display: block;
}

.separator {
  height: 2px;
  background-color: lightgrey;
}


button:focus {
  outline: none;
}

.approval-box {
  display: flex;
  margin: 12px calc(1.25rem + 48px);
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #ced4da;
}

.approve-icon {
  width: 64px;
  background-color: #eee;
  margin-right: 10px;
  border-radius: 8px;

  i {
    font-size: 28px;
    margin: 28% auto;
    display: block;
    width: 26px;
  }
}

.approve-content {
  width: 100%;

  h2,
  p {
    margin: 0;
  }
}

.approve-actions {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;

  .approve {
    background-color: #0bb698;
    color: white;
  }

  .reject {
    background: none;
    color: #485156;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}

.order-number {
  font-weight: bolder;
}

//.order-form {
//  .form-control {
//    &:disabled {
//      background: inherit;
//    }
//  }
//}

mat-option {
  &#typeBtn,
  &#custBtn {
    height: 52px;
  }
}

.overview-container {
  padding: 0 20px;
}
.card-body.overview{
  padding: 10px 20px 5px;
}
.card-header.overview{
  padding: 10px 20px 5px;
}

.form-col {
  width: 452px;
  margin: 0;

  tr {
    td {
      &:first-of-type {
        min-width: 132px;
      }

      &:last-of-type {
        min-width: 320px;
      }
    }
  }
}

.spacer {
  height: 12px;
}

.item-container {
  margin-top: 20px;
  padding: 0 20px;
  position: relative;
  width: 100%;
  overflow: auto;

  table {
    //width: 920px;
    width: 100%;
    margin: auto;
    border: 1px solid #ced4da;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      border-top: 1px solid #ced4da;
      border-left: 1px solid #ced4da;
      padding: 0 2px;

      &:first-child {
        border-left: none;
        text-align: left;
        max-width: 32px;
      }
    }

    th {
      border-left: 1px solid #ced4da;
      padding: 4px !important;
      border-top: none;
      text-align: left;
      min-width: 75px;
      color: #263035;
      background-color: #f3f3f3;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      &:first-child {
        border-left: none;
        text-align: left;
        min-width: 32px;
        width: 32px;
      }
    }

    td {
      .custom-select,
      .form-control {
        font-size: 12px;
        border: 0;
        padding: 0 4px;
        background-color: inherit;

        &:focus {
          box-shadow: none;
        }
      }

      &:focus-within {
        outline: 1px auto #18182490;
      }
    }

    .form-body {
      .non-editable {
        background-color: transparent;
      }
    }
  }
}

.item-seq {
  width: 32px;
}

.item-name {
  min-width: 150px;
}

.uom-td {
  min-width: 100px;
}

.item-row {
  position: relative;
}

.overall-stats-table {
  padding: 12px;
  margin:0;
  border: 1px solid #ced4da;
  border-radius: 4px;

  .stat-label {
    padding: 0 12px;
    width: 45%;
    display: inline-block;
    text-align: right;
    color: #495057;
    margin-right: 8px;
  }

  .stat-value {
    font-weight: bolder;
    color: black;
  }
}

textarea {
  min-height: 100px;
  max-height: 150px;
}

.footer-overview-container {
  max-width: 100%;
  padding: 0 20px;
  margin: 32px 0 80px;
}

// New Styles

:host {
  display: block;
  height: 100%;
  background-color: white;
}

textarea.form-control,
input.form-control.form-control-sm {
  border-radius: 0;
  background-color: white;
}

.overall-stats-table {
  border-radius: 0;
  background-color: #f3f3f3;

  div {
    padding: 2px 0;
  }

  .stat-label {
    width: 100px;
  }

  .stat-value {
    width: calc(100% - 108px);
    display: inline-block;
    text-align: right;

    &.final-total {
      padding: 12px 0;
    }
  }
}

.final-total {
  padding: 12px;
  font-size: 18px;
  font-style: oblique;
  font-weight: bolder;
}

.footer-block {
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #f3f3f3;
  bottom: 0;
  border-top: 1px solid #ced4da;
  box-shadow: 0 0 4px 0 #d3d3d3;
}


.active-form {
  background-color: #f3f3f3;
}


.heading-row{
  padding:10px;
}

@media (max-width: 575px) {

  .cardtable.item-table  .mat-row{
    display: block;
    min-height: 40px;
  }
  .cardtable  th.mat-header-cell:first-of-type,.cardtable td.mat-cell:first-of-type,.cardtable td.mat-footer-cell:first-of-type {
    padding-left: 40px !important;
  }
  .cardtable.item-table  tr td,.cardtable.item-table .mat-cell{
    border: none;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left\9;
    width: 100%\9;
    //vertical-align: top;
    font-size: .8125rem;
    padding: 0 !important;
    text-align: left;
    border-top: 1px solid #ced4da;
  }
  .cardtable.item-table  tr td.mat-column-select{
    padding:0 !important;
    &:before{
      width: 0;
      padding:0;
    }
  }
  .cardtable.item-table  tr td span{
    vertical-align: top;
    display: inline-block;
    padding: 2px 5px;
    padding-top: 10px;
  }
  
  .cardtable.item-table  tr td:before,.cardtable.item-table .mat-cell:before{
    content: attr(data-th);
    display: inline-block;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    font-weight: bold;
    width: 9.5em;
    background: #56a2cf;
    color: white;
    margin-right: 10px;
    padding: 2px 10px;
    padding-top: 10px;
    font-size: 12px;
  }
  
  .cardtable.item-table th,.cardtable.item-table  thead, .cardtable.item-table thead tr, .cardtable.item-table .mat-header-row {
    display: none;
  }
}