<section *ngIf="promotion">
  <div class="pl-3">
    <div class="row">
      <h2 class="page-title col-sm-6 font-weight-light">
        {{ promotion.name }}
      </h2>
      <div class="actions col-sm-6">
        <button (click)="openEditPromotion()" class="iconbtn" appPermission [permissions]="userPermissions"
          [type]="'edit'">
          <i class="os-icon os-icon-edit" aria-hidden="true"></i>
        </button>
        <div>
          <button class="btn btn-sm btn-white dropdown-toggle" mat-button [matMenuTriggerFor]="menu2">
            More
          </button>
          <mat-menu #menu2="matMenu">
            <!-- <button mat-menu-item (click)="toggleStatus()">Mark as
              {{ area.area_status === 0 ? 'Active' : 'Inactive' }}</button> -->
            <button mat-menu-item (click)="openDeleteBox()" appPermission [permissions]="userPermissions"
              [type]="'delete'">
              Delete
            </button>
          </mat-menu>
        </div>
        <button *ngIf="isDetailVisible" class="btn" (click)="closeDetailView()">
          <i class="os-icon os-icon-close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="pl-3 area-data">
    <div class="mb-4" *ngIf="isPending">
      <div class="approval-holder">
        <div class="approval-box">
          <div class="approve-icon">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="approve-content">
            <h2>Approve this Pricing</h2>
            <p>This Pricing has been submitted for approval. Verify and approve the Load Request.</p>
          </div>
          <div class="approve-actions">
            <button mat-button class="approve" (click)="openConfirmBox('approve')">Approve</button>
            <button mat-button class="reject" (click)="openConfirmBox('reject')">Reject</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row h-100">
      <div class="col-12 p-3 ">
        <mat-tab-group class="customertab" mat-align-tabs="start">
          <mat-tab label="Overview">
            <div class="details-container">
              <table class="table table-hover">
                <tr>
                  <td class="table-title">Start Date</td>
                  <td class="table-value">{{ promotion.start_date }}</td>
                </tr>
                <tr>
                  <td class="table-title">End Date</td>
                  <td class="table-value">{{ promotion.end_date }}</td>
                </tr>
                <!-- <tr>
                  <td class="table-title">UOM</td>
                  <td class="table-value">{{ promotion.uom }}</td>
                </tr> -->
                <tr>
                  <td class="table-title">Order Item Type</td>
                  <td class="table-value">{{ promotion?.order_item_type }}</td>
                </tr>
                <tr>
                  <td class="table-title">Offer Item Type</td>
                  <td class="table-value">{{ promotion?.offer_item_type }}</td>
                </tr>
                <tr>
                  <td class="table-title">Key Selection</td>
                  <td class="table-value">
                    {{ promotion?.combination_key_value }}
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Key Value">
            <div class="details-container pt-2">
              <mat-accordion>
                <div *ngFor="let key of keyCombos" class="mb-1">
                  <mat-expansion-panel class="mat-elevation-z0" [disabled]="key.data.length == 1"
                    (opened)="customPagging.startNumber=0;customPagging.endNumber=5;customPagging.pageNumber=5;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ key?.title }}
                      </mat-panel-title>
                      <mat-panel-description>
                        <span *ngIf="key.data.length > 1; else elseBlock">
                          {{ key.data[0]?.name }} &
                          {{ key.data?.length - 1 }} more..</span>
                        <ng-template #elseBlock>
                          {{ key.data[0]?.name }}
                        </ng-template>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="lists">
                      <table class="text-right mat-table">
                        <tr class="mat-row"
                          *ngFor="let key of key.data| slice:customPagging.startNumber:customPagging.endNumber">
                          <td class="mat-cell">{{ key?.name }}</td>
                        </tr>
                      </table>
                      <app-custom-pagging [hidden]="key.data && key.data.length <= 5" #customPagging
                        [length]="key?.data?.length || 0">
                      </app-custom-pagging>

                    </div>
                  </mat-expansion-panel>
                </div>
              </mat-accordion>
            </div>
          </mat-tab>
          <mat-tab label="Promotion">
            <!-- <br />
            <label for="">Slab Items</label>
            <app-slab-item-dt [slabItems]="promotion.p_d_p_combination_slabs"></app-slab-item-dt> -->
            <br />
            <label for="">Order Items</label>
            <app-order-item-dt [orderItems]="promotion.p_d_p_promotion_items" (openDialog)="openSlabDialog($event)">
            </app-order-item-dt>
            <br />
            <label for="">Offer Items</label>
            <app-offer-item-dt [offerItems]="promotion.p_d_p_promotion_offer_items"></app-offer-item-dt>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <!-- <pre>{{ promotion | json }}</pre> -->
</section>
<ng-template #dialogRef let-data>
  <div class="card">
    <div class="card-header pt-4">
      <span class="h6 font-weight-bold">Slab Items</span>
      <a [mat-dialog-close]="true" class="closeicon settingclose"><i class="os-icon os-icon-x"></i></a>
    </div>
    <div class="card-body">
      <app-slab-item-dt [slabItems]="promotiond_p_combination_slabs"></app-slab-item-dt>

    </div>
  </div>
</ng-template>