<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
    <mat-drawer id="formDrawer" mode="over" position="end" #formDrawer class="border">
        <div style="min-width: 400px;">
            <app-create-reason (updateTableData)="updateTableData($event)"></app-create-reason>
        </div>
    </mat-drawer>
    <section>
        <div class="table-box customerbox">
            <div class="heading-row clearfix">
                <p class="h4 font-weight-light d-inline">
                    Reason
                </p>
                <div class="d-inline float-right">
                    <button type="button" class="btn btn-sm btn-p" (click)="addReason()">
                        <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
                    </button>

                </div>
            </div>
            <app-reason-dt (updateTableData)="updateTableData($event)" (remove)="onRemove($event)" [data]="reasonList">
            </app-reason-dt>
        </div>
    </section>


</mat-drawer-container>