.mat-progress-bar {
    position: fixed;
    top: 0;
    z-index: 100;
}
.image-container{
    position: relative;
}
.cancel-btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
@media (max-width: 575px) {
    .position-absolute{
      position: relative !important;
        left: 0 !important;
    }
}