<mat-drawer-container class="formdrawer-container" hasBackdrop="false">
  <mat-drawer id="formDrawer" mode="over" position="end" #formDrawer class="border">
    <div style="min-width: 300px;">
      <app-add-portfolio-management (updateTableData)="updateTableData($event)"></app-add-portfolio-management>
    </div>
  </mat-drawer>
  <section class="scrollxy">
    <div class="table-box customerbox" [ngClass]="{ collapsed: isDetailVisible }">
      <div class="heading-row clearfix">
        <p class="h4 font-weight-light d-md-inline" *ngIf="!isDetailVisible">
          Portfolio Management
        </p>
        <div class="d-inline float-right">
          <button type="button" class="btn btn-sm btn-p mr-2" (click)="openAddPortfolio()" appPermission
            [permissions]="userPermissions" [type]="'create'">
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button>
          <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
            [matMenuTriggerFor]="menu2">
            Bulk Actions
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
            <button mat-menu-item (click)="bulkAction('inactive')" >Mark as Inactive</button>
            <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
              Delete
            </button> -->
          </mat-menu>
        </div>
      </div>
      <app-portfolio-management-dt (selectedRows)="selectedRows($event)" [newPortfolioManagementData]="newPortfolioManagementData"
        (itemClicked)="itemClicked($event)">
      </app-portfolio-management-dt>
    </div>
    <div class="details-box" [ngClass]="{ expanded: isDetailVisible }">
      <app-portfolio-management-detail-page (updateTableData)="updateTableData($event)" (detailsClosed)="closeClicked()"
        [isDetailVisible]="isDetailVisible" [portfolioManagement]="portfolio">
      </app-portfolio-management-detail-page>
    </div>
  </section>
</mat-drawer-container>