<div class="pl-3 row mb-4 mt-4" *ngIf="listData">
    <div class="col-md-1 col-form-label">Date</div>
    <div class="col-md-3 mb-2 mb-md-0">
        <input class="form-control form-control-sm" type="date" [formControl]="startDateFilterControl">
    </div>
    <strong>-</strong>
    <div class="col-md-3 mb-2 mb-md-0">
        <input class="form-control form-control-sm" type="date" [formControl]="endDateFilterControl">
    </div>
    <div class="col-md-2 item-add-btn">
        <button type="button" (click)="getCustomerVisitList('date')"
            class=" mr-2 btn btn-sm btn-primary">Filter</button>
        <button type="button" (click)="getCustomerVisitList('all')" class=" btn btn-sm btn-danger">All</button>
    </div>
</div>
<div class="pl-3  items-table-box">
    <div class="table-responsive">
        <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table table-hover">
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Date" (changeSelected)="onColumnFilterOpen($event)"
                        [selected]="selectedColumnFilter" controlName="date" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('date')" type="date">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date :"d MMM y h:mm a"}} </td>
            </ng-container>
            <ng-container matColumnDef="customerCode">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Customer Code" (changeSelected)="onColumnFilterOpen($event)"
                        controlName="customer_code" [selected]="selectedColumnFilter" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('customer_code')"
                            placeholder="Enter Customer Code" type="text">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.customer?.customerinfo ?
                    element.customer?.customerinfo?.customer_code :'N/A' }} </td>
            </ng-container>
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>
                    <app-column-filter title="Customer Name" (changeSelected)="onColumnFilterOpen($event)"
                        controlName="customer_name" [selected]="selectedColumnFilter" (close)="onColumnFilter($event)">
                        <input class="form-control form-control-sm" [formControl]="filterForm.get('customer_name')"
                            placeholder="Enter Customer Name" type="text">
                    </app-column-filter>
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.customer?.firstname }}
                    {{ element.customer?.lastname }} </td>
            </ng-container>
            <ng-container matColumnDef="start_time">
                <th mat-header-cell *matHeaderCellDef>
                    Start Time
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.start_time }} </td>
            </ng-container>
            <ng-container matColumnDef="end_time">
                <th mat-header-cell *matHeaderCellDef>
                    End Time
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.end_time }} </td>
            </ng-container>

            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef>
                    Longitude
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.longitude }} </td>
            </ng-container>
            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef>
                    Latitude
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.latitude }} </td>
            </ng-container>
            <ng-container matColumnDef="is_sequnece">
                <th mat-header-cell *matHeaderCellDef>
                    Seq.
                </th>
                <td mat-cell *matCellDef="let element"> <i class="fa text-center "
                        [ngClass]="{ 'fa-check-circle colorGreen' : element.is_sequnece == '1', 'fa-times-circle colorRed' : element.is_sequnece == '0'}"></i>
                </td>
            </ng-container>
            <ng-container matColumnDef="shop_status">
                <th mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.shop_status }} </td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>
                    Reason
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.reason }} </td>
            </ng-container>
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Comment </th>
                <td mat-cell *matCellDef="let element"> {{ element.comment }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openCustomerActivityList(row)"></tr>
        </table>
    </div>
    <mat-paginator [hidden]="apiResponse.pagination?.total_records < 10" (page)="onPageFired($event)"
        [length]="apiResponse.pagination?.total_records" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
</div>