<section>
    <div class="table-box customerbox" [ngClass]="{ collapsed: isDetailVisible }">
      <div class="heading-row">
        <p class="h5 font-weight-light d-inline" *ngIf="!isDetailVisible">
          <i class="os-icon os-icon-percent mr-2" aria-hidden="true"></i>Listing Fee
        </p>
        <div class="d-inline float-right">
          <!-- <button type="button" class="btn btn-sm btn-p" (click)="openAddPricing()">
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button> -->
          <button type="button" class="btn btn-sm btn-p" (click)="openAddPricing()" appPermission
            [permissions]="userPermissions" [type]="'create'">
            <i class="os-icon os-icon-plus mr-2" aria-hidden="true"></i>New
          </button>
          <button *ngIf="checkedRows.length > 0" class="btn btn-sm btn-white dropdown-toggle ml-2" mat-button
            [matMenuTriggerFor]="menu2">
            Bulk Actions
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="bulkAction('active')">Mark as Active</button>
            <button mat-menu-item (click)="bulkAction('inactive')" >Mark as Inactive</button>
            <!-- <button mat-menu-item (click)="bulkAction('delete')" appPermission [permissions]="userPermissions" [type]="'delete'">
              Delete
            </button> -->
          </mat-menu>
        </div>
        
      </div>
      <app-listing-fee-dt [newListingFeeData]="newListingFeeData" (itemClicked)="itemClicked($event)"
        (selectedRows)="selectedRows($event)"></app-listing-fee-dt>
    </div>
    <div class="details-box" [ngClass]="{ expanded: isDetailVisible }">
      <app-listing-fee-details (updateTableData)="updateTableData($event)" (detailsClosed)="closeClicked()"
        [isDetailVisible]="isDetailVisible" [listingFee]="listingFee">
      </app-listing-fee-details>
    </div>
  </section>