
button{
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.comments {
  margin-left: 20px;
  margin-top: 25px;
 
  padding-bottom: 30px;
}
.comments .tree-structure {
  margin-left: 110px;
}
.tree-structure {
  border-left: 3px solid #edf3ff;
  margin-left: 25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.tree-structure .tree-node {
  padding: 10px 0;
  position: relative;
  margin-left: 15px;
}
.btn-primary:hover, 
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff !important;
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
}
.tree-structure .tree-node:first-child {
  padding-top: 0;
}
@media (min-width: 992px){
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}
.tree-structure .tree-node:before {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #edf3ff;
  border-radius: 50%;
  top: 15px;
  left: -13px;
  background-color: #f1f9ff;
  content: "\e967";
  font-family: 'osfont' !important;
  color: #2c9bf4;
  text-align: center;
  line-height: 24px;
}
.tree-structure .tree-node .tree-node-leaf {
  padding: 10px 20px;
  position: relative;
  margin-bottom: 10px;
  margin-left: 25px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(25, 124, 207, 0.10);
  border: 1px solid #efefef;
}
.comments .tree-structure .tree-node .tree-node-leaf {
  padding-right: 40px;


}
 textarea.form-control {
  height: auto;
  padding: 5px 8px;
}
 .text-muted {
  color: #777!important;
}
 .comments .time {
  top: 10px;
  width: 90px;
  text-align: right;
  position: absolute;
  left: -120px;
}
.tree-structure .tree-node .tree-node-leaf .arrow {
  top: 12px;
  left: -8px;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent #f1f1f1 transparent transparent;
  border-style: solid;
  border-width: 11px 11px 11px 0;
}

.tree-structure .tree-node .tree-node-leaf .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  content: " ";
  left: 1px;
  bottom: -10px;
}

.comments .tree-structure .delete-action {
  position: absolute;
  right: 10px;
  color: #000000;
  cursor: pointer;
  top: 13px;
}
.description, .preserve-wrap {
  white-space: pre-wrap;
}
.tree-structure .tree-node .tree-node-leaf .description {
  margin-bottom: 5px;
}
.font-xs {
  font-size: 12px;
}
@media (max-width: 767px){
 
  .tree-structure .tree-node:before{
    top: 30px;
    left: -8px;
  }
  .tree-structure{
    margin-left: 10px;
  }
  .comments{
    margin-left: 0;
    .tree-structure{
      margin-left: 10px;
      .tree-node .tree-node-leaf {
   
        padding: 10px;
        margin: 0px 0 0 15px;
    }
      .tree-node:first-child {
        padding-top: 0;
        padding: 0 15px 0 10px;
    }
    }
    .time{
      position: relative;
      left: 15px;
      width: 100%;
      top: 0;
      text-align: left;
    }
  }
}
