<mat-progress-bar *ngIf="submitting" mode="indeterminate"></mat-progress-bar>

<section id="invoice-login" *ngIf="!submitting" >
    <div class="scrolly-login container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3 invoive-text-center"><img src="/assets/img/inv-logo.png" alt="img"
                                class="inv-logo" /></div>

                        <div *ngIf="domain == 'invoice'" class="row mb-4 px-3 invoive-text-center">Mobiato Invoice
                        </div>
                        <div *ngIf="domain == 'merchandising' || domain == 'nfpc'" class="row mb-4 px-3 invoive-text-center">
                            <div class="brand-name-pre"><img src="/assets/img/mar-logo.png"></div>
                        </div>
                        <div *ngIf="domain == 'presales'" class="row mb-4 px-3 invoive-text-center">
                            <div class="brand-name-pre"><img src="/assets/img/pre-logo.png"></div>
                        </div>
                        <div *ngIf="domain == 'vansales'" class="row mb-4 px-3 invoive-text-center">
                            <div class="brand-name-pre"><img src="/assets/img/van-logo.png"></div>
                        </div>

                        <div *ngIf="invalid" class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                        <form [formGroup]="resetPassForm" class="needs-validation" (ngSubmit)="resetPass()">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="mb-2">
                                        <h6 class="mb-0 text-sm norma-font-inv">Password*</h6>
                                    </label>
                                    <input class="mb-4" type="Password" name="password" formControlName="password"
                                        placeholder="******">
                                        <app-validation-message [control]="resetPassForm.controls['password']"></app-validation-message>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="mb-2">
                                        <h6 class="mb-0 text-sm norma-font-inv">Confirm Password*</h6>
                                    </label>
                                    <input class="mb-4" type="Password" name="c_password"
                                        formControlName="password_confirmation" placeholder="******">
                                        <app-validation-message [control]="resetPassForm.controls['password_confirmation']"></app-validation-message>
                                </div>
                            </div>
                            <div class="row mb-3 px-3 button-bg-invoice">
                                <button class="btn btn-blue text-center mr-2" routerLink="/auth/login">Cancel</button>
                                <button type="submit"
                                    [ngClass]="{presalesz : domain == 'presales' ? true : false, march : domain == 'merchandising' || domain == 'nfpc' ? true : false}"
                                    class="btn btn-blue text-center"
                                    [disabled]="!resetPassForm.valid">Reset Password</button>
                                    
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</section>