<section>
  <div class="">
    <div class="form-box">
      <div class="">
        <h4 *ngIf="showLocations()">Location</h4>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.country">
          <!-- <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="selectedCountries" (selectionChange)="onCountryChange($event)" multiple>
              <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="countries" (selectionchanged)="onCountryChange($event)"
            [control]="selectedCountries" text="name" id="id" placeholder="Select Country">
          </app-multiautocomplete>
          <mat-error *ngIf="(!countryFormControl.value.length ) && showFormError">
            <small>Please select atleast a country.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.regions">
          <!-- <mat-form-field>
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="selectedRegions" (selectionChange)="onRegionChange($event)" multiple>
              <mat-option *ngFor="let region of regions" [value]="region.id">{{ region.region_name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="regions" (selectionchanged)="onRegionChange($event)"
            [control]="selectedRegions" text="region_name" id="id" placeholder="Select Region">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedRegions.value.length ) && showFormError">
            <small>Please select atleast a region.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.area">
          <!-- <mat-form-field>
            <mat-label>Area</mat-label>
            <mat-select [(ngModel)]="selectedAreas" (selectionChange)="onAreaChange($event)" multiple>
              <mat-option *ngFor="let area of flatAreaData" [value]="area.id">
                <span *ngFor="let i of counter(area.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ area.area_name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="flatAreaData" (selectionchanged)="onAreaChange($event)"
            [control]="selectedAreas" text="area_name" id="id" placeholder="Select Area">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedAreas.value.length ) && showFormError">
            <small>Please select atleast an area.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.locations.route">
          <!-- <mat-form-field>
            <mat-label>Route</mat-label>
            <mat-select [(ngModel)]="selectedRoutes" (selectionChange)="onRouteChange($event)" multiple>
              <mat-option *ngFor="let route of routes" [value]="route.id">{{ route.route_name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="routes" (selectionchanged)="onRouteChange($event)"
            [control]="selectedRoutes" text="route_name" id="id" placeholder="Select Route">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedRoutes.value.length) && showFormError">
            <small>Please select atleast a route.</small>
          </mat-error>
        </div>

      </div>

      <div class="">
        <h4 *ngIf="showCustomers()">Customer</h4>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.salesOrganisation">
          <!-- <mat-form-field>
            <mat-label>Sales Organisation</mat-label>
            <mat-select [(ngModel)]="selectedSalesOrganisations" (selectionChange)="onSalesOrganisationChange()"
              multiple>
              <mat-option *ngFor="let salesOrganisation of flatSalesOrganisationData" [value]="salesOrganisation.id">
                <span *ngFor="let i of counter(salesOrganisation.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ salesOrganisation.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="flatSalesOrganisationData"
            (selectionchanged)="onSalesOrganisationChange()" [control]="selectedSalesOrganisations" text="name" id="id"
            placeholder="Select Customer">
          </app-multiautocomplete>
          <!-- <mat-form-field class="example-full-width" id="customerFormField">
            <input type="text" placeholder="Search Customer" matInput required
              [formControl]="selectedSalesOrganisations" [matAutocomplete]="auto">
            <mat-autocomplete appOptionScroll (optionsScroll)="onScroll()"
              (optionSelected)="onSalesOrganisationChange()" #auto="matAutocomplete">
              <mat-option *ngFor="let customer of flatSalesOrganisationData" [value]="customer.id">
                {{ customer.user?.firstname }}
                {{ customer.user?.lastname }} - {{ customer.customer_code }}</mat-option>
              <mat-option
                *ngIf="isLoading && flatSalesOrganisationData.length >= 10 || !flatSalesOrganisationData.length">
                <div class="select-placeholder-container">
                  <mat-spinner class="spinner" diameter="20"></mat-spinner>
                </div>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="customerFormControl.hasError('required')">Please select a customer</mat-error>
          </mat-form-field> -->
          <mat-error *ngIf="(!selectedSalesOrganisations.value.length) && showFormError">
            <small>Please select atleast a sales organisation.</small>
          </mat-error>
        </div>

        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.channel">
          <!-- <mat-form-field>
            <mat-label>Channel</mat-label>
            <mat-select [(ngModel)]="selectedChannels" (selectionChange)="onChannelChange()" multiple>
              <mat-option *ngFor="let channel of flatChannelData" [value]="channel.id">
                <span *ngFor="let i of counter(channel.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ channel.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="flatChannelData" (selectionchanged)="onChannelChange()"
            [control]="selectedChannels" text="name" id="id" placeholder="Select Channel">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedChannels.value.length ) && showFormError">
            <small>Please select atleast a channel.</small>
          </mat-error>
        </div>

        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.customerCategory">
          <!-- <mat-form-field>
            <mat-label>Customer Category</mat-label>
            <mat-select [(ngModel)]="selectedCustomerCategories" (selectionChange)="onCustomerCategoryChange()"
              multiple>
              <mat-option *ngFor="let customerCategory of customerCategories" [value]="customerCategory.id">
                {{ customerCategory.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="customerCategories"
            (selectionchanged)="onCustomerCategoryChange()" [control]="selectedCustomerCategories" text="name" id="id"
            placeholder="Select Category">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedCustomerCategories.value.length) && showFormError">
            <small>Please select atleast a customer category.</small>
          </mat-error>
        </div>

        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.customers.customer">

          <div *ngIf="customers.length == 0">
            <div class="select-placeholder-container">
              <mat-spinner class="spinner" diameter="20"></mat-spinner>
            </div>
          </div>
          <ng-container *ngIf="customers.length > 0">
            <app-multiautocomplete isSingle="false" [options]="customers" (selectionchanged)="onCustomerChange()"
              [control]="selectedCustomers" text="name" id="id" [objectName]="'customer-root1'"
              placeholder="Select Customer">
            </app-multiautocomplete>

            <mat-error *ngIf="(!selectedCustomers.value.length ) && showFormError">
              <small>Please select atleast a customer.</small>
            </mat-error>
          </ng-container>

        </div>

      </div>
      <div class="">
        <h4 *ngIf="showItems()">Item</h4>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.items.majorCategory">
          <!-- <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedCategories" (selectionChange)="onCategoryChange()" multiple>
              <mat-option *ngFor="let majorCategory of flatCategoryData" [value]="majorCategory.id">
                <span *ngFor="let i of counter(majorCategory.node_level)">&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                • {{ majorCategory.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="flatCategoryData" (selectionchanged)="onCategoryChange()"
            [control]="selectedCategories" text="name" id="id" placeholder="Select majorCategory">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedCategories.value.length) && showFormError">
            <small>Please select atleast a category.</small>
          </mat-error>
        </div>
        <div class="form-field-box" *ngIf="overviewFormGroup.value.keyCombination.items.itemGroup">
          <!-- <mat-form-field>
            <mat-label>Item Group</mat-label>
            <mat-select [(ngModel)]="selectedItemGroups" (selectionChange)="onItemGroupChange()" multiple>
              <mat-option *ngFor="let itemGroup of itemGroups" [value]="itemGroup.id">{{ itemGroup.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <app-multiautocomplete isSingle="false" [options]="itemGroups" (selectionchanged)="onItemGroupChange()"
            [control]="selectedItemGroups" [objectName]="'code-root'" [param1]="'name'" [param2]="'code'" text="name"
            id="id" placeholder="Select itemGroup">
          </app-multiautocomplete>
          <mat-error *ngIf="(!selectedItemGroups.value.length ) && showFormError">
            <small>Please select atleast an item group.</small>
          </mat-error>
        </div>
      </div>
    </div>
  </div>
</section>